@font-face {
    font-family: Common Altenshardian;
    src: url("C:\Users\xande\Documents\Projects\BIG BOI PROJECTS\number2\rescourses\CommonAltenshardian-Regular (2).ttf");
}

#alt {font-family: Common Altenshardian;
font-size: larger;
}
li {font-size: large;}
* {font-family: 'Times New Roman', Times, serif;}